<% layout("/layout/boilerplate") %>

    <div class="row mt-3">
        <div class="col-8 offset-2">
            <h3>Edit Your Listing</h3>
            <form action="/listing/<%=obj._id%>?_method=PUT" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="title" value="<%= obj.title %>" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="description" class="form-control"
                        style="width: 400px; height: 125px;"> <%=obj.description%> </textarea>
                </div>

                <div class="mb-3">Original Image
                    <img src="<%= originalImgURL %>" alt="No Preview Available">
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">New Image Link</label>
                    <input type="file" name="image" class="form-control">
                </div>

                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input type="number" name="price" value="<%= obj.price %>" class="form-control">
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" name="country" value="<%= obj.country %>" class="form-control">
                    </div>
                </div>
                <div class="mb-3">
                    <label for="loc" class="form-label">Location</label>
                    <input type="text" name="loc" value="<%= obj.loc %>" class="form-control">
                </div>
                <button class="btn btn-dark add-btn mt-3">Edit</button>
            </form>
            <br><br>
        </div>
    </div>
    <!-- <script src="/js/script.js"></script> -->
